@import "_colors";
@import "_btns";

body {
	--font: "Proxima Nova Rg";
	--font-sb: "Proxima Nova Lt";
	min-height: 100vh;
	background-size: auto;
	background-repeat: no-repeat;
	font-family: var(--font);
}
ul {
	padding-left: 10px;
	li {
		color: var(--text-color);
		font-size: 14pt;
		line-height: 16pt;
		list-style-type: none;
		position: relative;
		margin-bottom: 30px;
		&::before {
			content: "";
			width: 5px;
			height: 6px;
			position: absolute;
			top: 6px;
			left: -10px;
			background-image: url(/images/arrow-li.png);
			background-size: cover;
		}
	}
}

@import "_bread-crumbs";
@import "_swiper";
@import "_title";
@import "_tabs";
@import "_form";
@import "_scroll";

@import "header/_header";
@import "sec-links/_links";
@import "sec-news/_news";
@import "sec-resources/_resources";
@import "electronic-appeals/_main";
@import "gos-by/_main";
@import "customer/_main";
@import "career/_main";
@import "about/_main";
@import "footer/_main";
