.trade-union-life {
	.main {
		background-color: white;
		box-shadow: 0px 4px 26px -1px rgba(34, 60, 80, 0.2);
		padding-bottom: 75px;
		.title {
			color: var(--text-color);
			font-weight: 600;
			margin-left: 20px;
			font-size: 17pt;
			padding-top: 40px;
			margin-bottom: 3px;
		}
		.liner-down {
			margin-bottom: 30px;
		}
		.text {
			p {
				color: var(--text-color);
				font-size: 14pt;
				line-height: 16pt;
				&:last-child {
					margin: 0;
					padding-bottom: 20px;
				}
				span {
					color: var(--main-color2);
				}
			}
		}
		img {
			margin-right: -29px;
		}
	}
}
.no-main {
	.news {
		padding: 75px 0 80px;
		background-color: #edf7f9;
		margin-bottom: 0;
		.title {
			padding-top: 0;
		}
		.main {
			margin-bottom: 0;
			background-color: transparent;
			padding-bottom: 0;
		}
	}
}
